<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../views/figmaSchoolLab/icone.jpg">
    <title>School Lab UFC</title>
    <link rel="stylesheet" href="../views/css/sty.css">
    <script src="../src/controllers/cadastro.js"></script>
</head>
<body>
    <div class="caixote">
        <h1 id="text">Página de cadastro</h1>
        <input id="nome" type="text" placeholder="Nome completo" maxlength="50" size="50"></p>
        <input id="curso" type="text" placeholder="Curso" maxlength="50" size="50"></p>
        <input id="email" type="email" placeholder="Email institucional" maxlength="50" maxlength="50" size="50"></p>
        <input id="senha" type="password" placeholder="Senha" maxlength="8" size="50"></p>
        <input id="senha3" type="password" placeholder="Confirme sua senha" maxlength="8" size="50"></p>
        <button id="cad">Cadastrar</button>
        <p id="footer">&copy;School Lab</p>
    </div>
</body>
</html>