<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../views/figmaSchoolLab/icone.jpg">
    <title>School Lab UFC</title>
    <link rel="stylesheet" href="../views/css/pages-styles.css">
    <script src="../src/controllers/navigation.js"></script>
</head>
<body>
    <div class="menu">
        <h1>SHOOL LAB UFC</h1>
    </div>
        <div class="nav">
            <a href="" style="padding:10px 0px 10px 0px;"><strong>Perfil</strong></a>
            <a href="" style="padding:10px 0px 10px 0px;"><strong>Histórico</strong></a>
        </div>
        <div class="text">
            <h4>Olá! Seja bem vindo ao SCHOOL LAB UFC, aqui você poderá requisitar o uso dos computadores dos laboratóros da Universidade. O site tem uma usabilidade simples para que todos possam acessar as funções disponiveis sem nenhum problema. Para escolher os computadores, primeiro escolha o laboratório, em seguida escolha o computador que estiver disponivel.
            </h4>
        </div>
        <div class="titulo">
            <h2>Selecione uma sala:</h2>
        </div>
        <div class="option">
            <div class="telas" id="telaLab1">
                <h3>Laboratório 1</h3>
            </div>
            <div class="telas" id="telaLab2">
                <h3>Laboratório 2</h3>
            </div>
            <div class="telas" id="telaLab3">
                <h3>Laboratório 3</h3>
            </div>
            <div class="telas" id="telaLab4">
                <h3>Laboratório 4</h3>
            </div>
            <div class="telas" id="telaBiblioteca">
                <h3>Biblioteca</h3>
            </div>
        </div><hr>
        <section class="text">
            <h4>Nos ajude com sua opnião quanto a usabilidade e eficiência do site para que possamos ter um feedback, dessa forma traremos atualizações e melhorias. Acesse o link que colocamos no final da página, preencha o formulário com as informações que desejar.</h4>
        </section>
        <footer class="footer">
            <address>
                Criação e desenvolvimento: <a href="">Robert</a>, <a href="">Jonatas</a>, <a href="">Gustavo</a> &copy; 2023 <a href="">UFC Itapaje</a>
            </address>
        </footer>
</body>
</html>
