<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../views/figmaSchoolLab/icone.jpg">
    <title>School Lab UFC</title>
    <link rel="stylesheet" href="../views/css/pages-styles.css">
</head>
<body>
    <div class="nav">
        <a href="" style="padding:10px 0px 10px 0px;"><strong>Perfil</strong></a>
        <a href="" style="padding:10px 0px 10px 0px;"><strong>Histórico</strong></a>
    </div><br>
    <div class="titulo">
        <h3>Selecione um computador: </h3>
    </div>
    <div class="option">
        <div class="telas">
            <h3>Computador 1</h3>
        </div>
        <div class="telas">
            <h3>Computador 2</h3>
        </div>
        <div class="telas">
            <h3>Computador 3</h3>
        </div>
    </div>
    <div class="option">
        <div class="telas">
            <h3>Computador 4</h3>
        </div>
        <div class="telas">
            <h3>Computador 5</h3>
        </div>
        <div class="telas">
            <h3>Computador 6</h3>
        </div>
    </div>
    <div class="option">
        <div class="telas">
            <h3>Computador 7</h3>
        </div>
        <div class="telas">
            <h3>Computador 8</h3>
        </div>
        <div class="telas">
            <h3>Computador 9</h3>
        </div>
    </div>
    <div class="option">
        <div class="telas">
            <h3>Computador 10</h3>
        </div>
        <div class="telas">
            <h3>Computador 11</h3>
        </div>
        <div class="telas">
            <h3>Computador 12</h3>
        </div>
    </div>
    <div class="option">
        <div class="telas">
            <h3>Computador 13</h3>
        </div>
        <div class="telas">
            <h3>Computador 14</h3>
        </div>
        <div class="telas">
            <h3>Computador 15</h3>
        </div>
    </div>
    <div class="option">
        <div class="telas">
            <h3>Computador 16</h3>
        </div>
        <div class="telas">
            <h3>Computador 17</h3>
        </div>
        <div class="telas">
            <h3>Computador 18</h3>
        </div>
    </div>
    <footer class="footer">
        <address>
            Criação e desenvolvimento: <a href="">Robert</a>, <a href="">Jonatas</a>, <a href="">Gustavo</a> &copy; 2023 <a href="">UFC Itapaje</a>
        </address>
    </footer>
</body>
</html>