<nav class="navbar navbar-dark navbar-expand-lg bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span>School</span>Lab UFC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/views/admgeral/Adm">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/admgeral/Adm_perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/admgeral/Adm_Ajuda">Ajuda</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/admgeral/Adm_Contato">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/admgeral/AdicionarMonitor">Adicionar Monitor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/admgeral/DeletarMonitor">Deletar Monitor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/admgeral/DeletarAluno">Deletar Aluno</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><br><br>