@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url("../figmaSchoolLab/SCHOLLLABUFC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h3{
    font-size: 1.0em;
    font-weight: bold;
}
.menu{
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 2px 0px 2px 0px;
    display: flex;
    justify-content: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    font-size: 1.4em;
    font-weight: bold;
    color: #ffffff;
    background-color: #8344ff;
    border-right: solid 1px black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 700px;
}
.nav a:hover{
    background-color: #4d4d4d;
    color: #fff;
    transition: 0.5s;
}
