@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html, body {
    font-family: 'Roboto Condensed', sans-serif;

    margin: 0px;
    background-image: url("../figmaSchoolLab/Tela_fundo.jpg");

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;
}
.menu{
    color: #fff;
    background: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
}
/*
.menu h1{
    border-right: 4px solid;
    width: 13ch;
    white-space: rowrap;
    overflow: hidden;
    animation: typing 2s steps(10), blinking 0.5s infinite step-end
    alternate;
}
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blinking{
    50%{
        border-color: transparent;
    }
}
*/
.nav{
    position: sticky; 
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.nav a{
    font-size: 1.4em;
    color: #ffffff;
    background-color: #8344ff;
    border-right: solid 1px black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 700px;
    margin: none;
}
.nav a:hover{
    background-color: #4d4d4d;
    color: #fff;
    transition: 0.5s;
}
.titulo{
    color: #fff;
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.text{
    width: 100%;
    
}
.text h4{
    color: #fff;
    display: flex;
    padding: 30px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: justify;

    margin: 0px 10px 0px 10px;
}
.option{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.telas{
    background-image: linear-gradient(45deg, #8344ff, #000);
    width: 180px;
    color: #fff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.telas:hover{
    border: solid 3px #fff;
    transition: 0.1s;
}
.tutorial{
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.formulario{
    color: #fff;
    width: 100%;
    height: 120px;
    background-color: #db1b1b;
    text-align: center;
}
.formulario input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer{
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 25px 0px 25px 0px;
    color: #aaaaaa;
}
.footer address{
    font-weight: 400;
    overflow: hidden;
}
.footer address a{
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
