<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/figmaSchoolLab/icone.jpg">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js"></script>
    <script defer type="text/javascript" src="/js/websocket/websocket.js"></script>
    <title>School Lab UFC</title>
    <link rel="stylesheet" href="/css/index-style.css">
</head>
<body>
    <div class="menu">
        <h3>Projeto Integrador - UFC Campus Itapaje</h3>
    </div>
    <div class="nav">
        <a href="./Aluno/login">Aluno</a>
        <a href="./Monitor/loginMonitor">Monitor</a>
        <a href="./admgeral/Adm/Login">Administrador</a>
    </div>
</body>
</html>