<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/figmaSchoolLab/icone.jpg">
    <title>School Lab UFC</title>
    <link rel="stylesheet" href="/css/sty.css">
    <script src="/js/Aluno.js"></script>
</head>
<body>
    <div class="caixote">
        <h1 id="text">Perfil</h1>
            <p name="nomeAlunoPerfil" id="nomeAlunoPerfil" type="text" placeholder="Nome completo" maxlength="50" size="50" value=""></p>
            <p name ="cursoAlunoPerfil" id="cursoAlunoPerfil" type="text" placeholder="Curso" maxlength="50" size="50" value=""></p>
            <p name ="emailAlunoPerfil" id="emailAlunoPerfil" type="cursoAlunoPerfil" placeholder="Email institucional" maxlength="50" maxlength="50" size="50" value=""></p>
            <p name ="senhaAlunoPerfil" id="senhaAlunoPerfil" type="password" placeholder="Senha" maxlength="8" size="50" value=""></p>
            <button id="att"><a href="">Atualizar</a></button>
            <button id="exit">Sair</a></button>
        <p id="footer">&copy;School Lab</p>
    </div>
</body>
</html>