<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/figmaSchoolLab/icone.jpg">
    <title>School Lab UFC</title>
    <link rel="stylesheet" href="/css/sty.css">
    <script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <form action="/admgeral/Adm/home" method="POST" class="caixa">
        <h1>Seja bem vindo!</h1>
            <input required name="emailAdm"" id="emailAdm" type="email" placeholder="Email" maxlength="50" size="40" value="" autocomplete=""><br>
            <input required name="senhaAdm" id="senhaAdm" type="password" placeholder="Senha" minlength="8" size="40" value=""><br>
            <button id="butEnterADM">Entrar</button>
            <p id="logo">&copy;School Lab</p>
    </form>
</body>
</html>