@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html, body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    background-image: url("../figmaSchoolLab/Tela_fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.menu{
    color: #fff;
    background: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}
.nav{
    width: 100%;
    align-items: center;
    text-align: center;
}
/*#8c52ff*/
.nav a{
    background-color: #6438bd;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
    border-radius: 10px;
}
.nav a:hover{
    background-color: #4d4d4d;
    color: #fff;
    transition: 0.5s;
}
.titulo{
    color: #fff;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    margin: 5px 0px 10px 0px;
}
.tutorial{
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.text{
    width: 100%;
}
.text h4{
    color: #fff;
    display: flex;
    padding: 30px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 0px 10px 0px 10px;
}
.option{
    width: 100%;
    text-align: center;
    align-items: center;
}
.container{
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.caixa{
    background-color: #00000081;
    text-align: center;
    width: 400px;
    height: 330px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px;
}
#nome{
    margin: 30px 0px 15px 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8em;
}
#descricao{
    margin: 0px 0px 15px 0px;
    padding: 10px 10px 100px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}
#butEnter{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.0em;
    font-weight: bold;
}
button:hover{
    background-color: #272727;
    color: #fff;
    transition: 0.5s;
}
.footer{
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 20px 0px 10px 0px;
    color: #aaaaaa;
}
.footer address{
    font-weight: 400;
    overflow: hidden;
}
.footer address a{
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
