@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html, body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-image: url("../admgeral/figmaSchoolLab/Tela_fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.nav{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #8344ff;
    padding: 10px 0px 10px 0px;
}
.nav a{
    color: #fff;
    text-decoration: none;
    margin: 0px 10px 0px  10px;
}
.nav a:hover{
    color: #000000;
    transition: 0.5s;
}
#laboratorios{
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
#computadores{
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
#historico{
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}
#contas{
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}


/*#8c52ff*/
.titulo{
    color: #fff;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    margin: 5px 0px 10px 0px;
}
.text{
    width: 100%;
}
.text h5{
    color: #fff;
    display: flex;
    padding: 30px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
}
h4{
    display: flex;
    padding: 30px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
}
#texto{
    font-weight: 500;
    color: #fff;
    display: flex;
    padding: 30px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
    font-size: 15pt;
}
ul{
    color: #fff;
    text-align: justify;
    margin: 0px 20px 0px 20px;
}
.list{
    color: #fff;
    text-align: justify;
    font-weight: 500;
    margin: 20px;
}
.option{
    width: 100%;
    text-align: center;
    align-items: center;
}
.container{
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.caixa{
    background-color: #00000081;
    text-align: center;
    width: 400px;
    height: 330px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px;
}
#button{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.enviar{
    width: 150px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    background-color: #8344ff;
    color: #fff;
    font-size: 13pt;
    font-weight: 500;
}
.enviar:hover{
    background-color: #ffffff;
    color: #000000;
}
label{
    color: #fff;
    font-weight: 700;
    font-size: 15pt;
}
.but{
    background-color: #2e2e2e;
    color: #fff;
}
.but:hover{
    background-color: #fff;
    color: #000000;
}
.footer{
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 20px 0px 10px 0px;
    color: #aaaaaa;
}
.footer address{
    font-weight: 400;
    overflow: hidden;
}
.footer address p{
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.footer address a{
    color: #ffffff;
    font-weight: bold;
}
/* avatar
#avatar{
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
}*/
span{
    color: #8344ff;
}
.footer address p button{
    background-color: #000000;
    color: #fff;
    border: none;
}
.footer address p button:hover{
    color: #8344ff;
    transition: 0.8s;
}

/*----------------------------------------------------------------------*/

/*Perfil 1*/
#perfil1{
    text-align: center;
    background-color: #000000;
    display: none;
}
#perfil1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#perfil1 p{
    font-size: 10pt;
    color: #fff;
    margin: 10px 0px 10px 0px;
}
#but1{
    font-size: 13pt;
}

/*Perfil 2*/
#perfil2{
    text-align: center;
    background-color: #000000;
    display: none;
}
#perfil2 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#perfil2 p{
    font-size: 10pt;
    color: #fff;
    margin: 10px 0px 10px 0px;
}
#but2{
    font-size: 13pt;
}

/*Perfil 3*/
#perfil3{
    text-align: center;
    background-color: #000000;
    display: none;
}
#perfil3 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#perfil3 p{
    font-size: 10pt;
    color: #fff;
    margin: 10px 0px 10px 0px;
}
#but3{
    font-size: 13pt;
}

/* AREA DE MUDANÇAS NA RESOLUÇÃO*/
