<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/figmaSchoolLab/icone.jpg">
    <title>School Lab UFC</title>
    <link rel="stylesheet" href="/css/sty.css">
    <script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <form action="/Aluno/login" method="PUT" class="caixa" id="newSenha">
        <h2>recuperar Senha </h2>
        <input required name="codRecuperacao" id="codRecuperacao" type="text" placeholder="código" maxlength="6" size="40" value=""><br>
        <input required name="emailRecuperacaoSenha" id="emailRecuperacaoSenha" type="email" placeholder="insira seu email novamente" maxlength="50" size="40" value="" autocomplete=""><br>
        <input required name="novaSenha" id="novaSenha" type="password" placeholder="nova senha" value="" maxlength="50" size="40" autocomplete=""><br>
        <input required name="novaSenhaConfirm" id="novaSenhaConfirm" type="password" placeholder="confirme sua senha" value="" maxlength="50" size="40" autocomplete=""><br>
        <button id="enviarNovaSenha">Enviar Nova Senha</button>
        <p id="logo">&copy;School Lab</p>
    </form>
</body>
</html>