<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../views/figmaSchoolLab/icone.jpg">
    <title>School Lab UFC</title>
    <link rel="stylesheet" href="../views/css/sty.css">
    <script src="../src/controllers/login.js"></script>
</head>
<body>
    <div class="caixa">
        <h1>Seja bem vindo!</h1>
        <div>
            <input required id="email1" type="email" placeholder="Email" maxlength="50" size="40" value="" autocomplete=""><br>
            <input required id="senha1" type="password" placeholder="Senha" maxlength="8" size="40" value="">
            <p><a href="#">Esqueceu a senha?</a></p>
            <button id="butEnter">Entrar</button>
            <button id="butCad">Cadastrar</button>
        </div>
        <h3>&copy;School Lab</h3>
    </div>
</body>
</html>
